/* font-family: "Comic Sans MS", "Comic Sans", cursive; */
body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.textCenter {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.imgCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.noComic {
  font-family: "Arial", cursive;
}
