.textCenter {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.imgCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: black;
}

#main {
  background-color: #d3d3d3;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  padding: 2px 2px 2px 2px;
}

#disclaimer {
  background-color: #fff5ee;
  font-family: "Arial", cursive;
  padding: 2px 2px 2px 2px;
}
